html {
    font-size: 62.5%;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}


.cabecalho {
    padding: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 800;
}

.logo h1 {
    font-size: 2rem;
    margin-left: 5px;
    font-weight: 800;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li a {
    padding: 10px 5px;
    transition: 0.3s ease-in-out;
    margin-left: 1.5rem;
}

.menu li a:hover{
    color: white;
    background-color: #5BC241;
}

.menu li a.botao{
    background-color:  #5BC241;
    border-radius: 1rem;
    color: white;
    margin-left: 3rem;
    padding: 1rem 2rem;
}